<?xml version="1.0" encoding="UTF-8"?>

<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" 
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
          
  <localRepository>local-maven-repository</localRepository>

  <mirrors>
    <mirror>
      <id>ebao</id>
      <name>eBaoTech Maven Repository</name>
      <url>http://maven-repository.ebaotech.com/artifactory/repo</url>
      <mirrorOf>*</mirrorOf>
    </mirror>
  </mirrors>
  
  <profiles>
    <profile>
      <id>ebao</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <repositories>
        <repository>
          <snapshots/>
          <id>ebao</id>
          <name>eBaoTech Maven Repository</name>
          <url>http://maven-repository.ebaotech.com/artifactory/repo</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <snapshots/>
          <id>ebao</id>
          <name>eBaoTech Maven Repository</name>
          <url>http://maven-repository.ebaotech.com/artifactory/repo</url>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>

</settings>
